<!DOCTYPE HTML>
<html ng-app="exampleApp">
<head>
    <title>Ajax</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="ngmodules/angular.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script>
        angular.module("exampleApp", [])
            .controller("defaultCtrl", function ($scope, $http) {

                $scope.loadData = () => {
                    $http.get("/products", {
                        headers:{

                        }
                    }).then(response => {
                        console.log("status: " + response.status);
                        console.log("content-type: " + response.headers("content-type"));
                        $scope.products = response.data;
                    })
                };

                var config = {
                    transformResponse: function (data, headers) {
                        if(headers("content-type") === "application/xml" && angular.isString(data)) {
                            let products = [];
                            let productElems = angular.element(data.trim()).find("product");
                            for(let i=0; i<productElems.length; i++) {
                                let product = productElems.eq(i);
                                products.push({
                                    name: product.attr("name"),
                                    category: product.attr("category"),
                                    price: product.attr("price")
                                });
                            }
                            console.log(products);
                            return products;
                        } else {
                            return data;
                        }
                    }
                };

                $scope.loadXmlData = () => {
                    $http.get("/productData.xml", config)
                        .then(_products => $scope.products = _products.data)
                }
            })

    </script>
</head>
<body ng-controller="defaultCtrl">
    <div class="panel panel-default">
        <div class="panel-body text-center">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="products.length">
                        <td colspan="3" class="text-center">No Data</td>
                    </tr>
                    <tr ng-repeat="product in products">
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.price | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <button class="btn btn-primary" ng-click="loadXmlData()">Load Data</button>
            </p>
        </div>
    </div>
</body>
</html>